/* Variables */
$primary-main: #ed503e;
$secondary-main: #000000;
$primary-bg: #f2f2f2;
$white-txt: #ffffff;
$black-txt: #4a4a4a;

/* Base Styles */
body {
  background: $primary-bg;
}

/* Fonts */

/* Mobile Styles */

/* Desktop Styles */
@media screen and (min-width: 1200px) {
}
