/* Variables */
$primary-main: #ed503e;
$secondary-main: #000000;
$white-txt: #ffffff;
$black-txt: #4a4a4a;
$grey-txt: #9b9b9b;

/* Mobile Styles */
.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  background: $secondary-main;
  min-height: 55px;
  &__logo {
    width: 100px;
    margin-left: 1rem;
  }
}
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  padding-top: 1rem;
  min-height: 500px;
  text-align: center;
  color: $white-txt;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.0590466) 0%, rgba(28, 29, 32, 0.535932) 40.41%, rgba(0, 0, 0, 0.588287) 80.42%),
    url('../public/hero-divider.png') bottom no-repeat, url('../public/hero-dunk.png') no-repeat 53% 90%;
  &__header {
    font-weight: 400;
    font-size: 2.19rem;
  }
  &__text {
    padding: 0 1rem 0 1rem;
  }
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    font-weight: 700;
  }
  &__text {
    color: $black-txt;
    text-align: center;
    padding: 1.7rem;
    line-height: 26px;
  }
}

.press {
  position: relative;
  margin-bottom: 2rem;
  &__blackbg {
    position: absolute;
    bottom: 15px;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
    background: url('../public/black-clipped.png') no-repeat;
    background-size: cover;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    background: url('../public/generic-orange-path.png') no-repeat center right;
    background-size: cover;
    min-height: 380px;
  }
  &__text {
    text-align: center;
    padding: 0 3rem;
    font-size: 1.125rem;
    color: $white-txt;
  }
  &__carousel {
    width: 100%;
  }
  &__list {
    display: none;
  }
}

.branding {
  position: relative;
  margin-top: 5rem;
  &__orangebg {
    position: absolute;
    bottom: 50px;
    min-height: 100%;
    min-width: 100%;
    background: url('../public/generic-orange-path.png');
    background-size: cover;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 350px;
    color: $white-txt;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0590466) 0%, rgba(28, 29, 32, 0.535932) 40.41%, rgba(0, 0, 0, 0.588287) 80.42%),
      url('../public/branding.png') no-repeat 30% 10%;
    background-size: cover;
    clip-path: polygon(0 0, 100% 5%, 100% 93%, 0 100%);
  }
  &__text {
    margin: 6rem 0 2.5rem 0;
  }
  &__link {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 0.75rem;
    min-height: 65px;
    max-width: 230px;
    background: $primary-main;
  }
}

.values {
  text-align: center;
  margin-top: 3.125rem;
  margin-bottom: 5rem;
  &__value_grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  &__header {
    margin-bottom: 2.75rem;
    font-weight: 700;
  }
  &__value {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.875rem;
    padding: 0 2rem;
  }
  &__text {
    font-size: 0.875rem;
    color: $grey-txt;
  }
  &__icon {
    margin-bottom: 0.75rem;
  }
  &__title {
    font-weight: 400;
  }
}

.join {
  clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
  &__bg {
    display: grid;
    grid-template-rows: 140px 150px 300px;
    justify-content: center;
    background: url('/join-bg.svg') no-repeat;
    background-size: cover;
  }
  &__header {
    align-self: center;
    color: $white-txt;
    text-align: center;
    align-self: flex-end;
    margin-bottom: 1rem;
  }
  &__card {
    background: #f2f2f2;
    max-width: 268px;
    padding: 1.875rem 1.5rem 0;
    &__clipped {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
      margin-bottom: 1.25rem;
    }
  }
  &__text {
    line-height: 1.625rem;
    margin-bottom: 1rem;
  }
  &__link {
    font-size: 12px;
    font-weight: 700;
    color: $primary-main;
    line-height: 17px;
  }
  &__img {
    margin-left: 0.2rem;
  }
}

/* Tablet/Laptop */
@media screen and (min-width: 768px) {
  .navbar {
    min-height: 75px;
    &__logo {
      width: 150px;
    }
  }
  .hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0590466) 0%, rgba(28, 29, 32, 0.535932) 40.41%, rgba(0, 0, 0, 0.588287) 80.42%),
      url('../public/hero-divider.png') bottom no-repeat, url('../public/hero-dunk.png') no-repeat bottom / cover;
    &__header {
      font-size: 2.875rem;
    }
    &__text {
      font-size: 1.875rem;
      padding: 0 9rem;
      max-width: 868px;
    }
  }

  .desc {
    padding: 3rem 9rem 5rem 9rem;
    &__text {
      max-width: 868px;
    }
  }

  .press {
    &__carousel {
      display: none;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      max-width: 868px;
    }
    &__img {
      padding: 0 0.5rem;
    }
    &__blackbg {
      bottom: 30px;
    }
  }
  .branding {
    &__link {
      font-size: 1rem;
      max-width: fit-content;
      padding: 1.4rem 1rem 1rem 1rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }
    &__content {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.0590466) 0%, rgba(28, 29, 32, 0.535932) 40.41%, rgba(0, 0, 0, 0.588287) 80.42%),
        url('../public/branding.png') no-repeat 70% 25%;
      background-size: cover;
    }
  }
  .values {
    margin-top: 5rem;
    &__value_grid {
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
      padding: 0 4rem;
    }
    &__value {
      display: grid;
      grid-template-columns: 0.1fr 1fr;
      grid-template-rows: 2fr;
      column-gap: 1rem;
      grid-template-areas:
        'icon title'
        '. text';
    }
    &__icon {
      grid-area: icon;
      margin: 0;
      width: 35px;
    }
    &__title {
      grid-area: title;
      text-align: left;
    }
    &__text {
      text-align: left;
      grid-area: text;
    }
  }

  .join {
    clip-path: none;
    min-height: 500px;
    background-color: $secondary-main;
    &__bg {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 2fr;
      column-gap: 1.5rem;
      grid-template-areas:
        'head head'
        'one two';
    }
    &__head {
      grid-area: head;
      margin-bottom: 2rem;
    }
    &__one {
      grid-area: one;
      justify-self: flex-end;
      max-height: 250px;
    }
    &__two {
      grid-area: two;
      justify-self: flex-start;
      min-height: 270px;
    }
    &__text {
      max-width: 250px;
    }
    &__link {
      display: flex;
      max-width: 165px;
    }
    &__card {
      max-width: none;
      min-width: 370px;
    }
    &__img {
      align-self: flex-end;
      padding-bottom: 0.2rem;
    }
    &__card__clipped {
      clip-path: none;
    }
  }
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
}
